[build]
  publish = "."

[[redirects]]
  from = "/preview/*"
  to = "/preview/:splat"
  status = 200

[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/coming-soon.html"
  status = 200
